@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap');
.main {
    color: black;
    font-family: "Instrument Sans", serif;
    font-weight: 600;
    margin: 0;
}

.visualizationPage{
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    background-color: #f3f3f4;
}
.sidebarIcon{
    width: 25px;
    height: 25px;
    position: fixed;
    top: 27px;
    left: 10px;
    background-color: transparent;
}
.Metis {
    color: #0980D3;
    font-size: 45px;
    background-color: transparent;
}
.logoImage {
    width: 100px;
    height: auto;
    background-color: transparent;
}
.logout{
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    position: fixed;
    top: 25px;
    right: 10px;
}
.logout:hover{
    color: #0980D3;
}


.courses{
    position: relative;
}

.sideBar {
    position: fixed;
    top: 90px;
    border: 1px solid #5E6870;
    width: 400px;
    height: 85%;
    transition: transform 1s ease-in-out;
}

.sideBarButton {
    width: 25px;
    height: 25px;
    position: fixed;
    top: 27px;
    left: 10px;
    border: none;
}

.sideBarButton:hover {
    cursor: pointer;
    background-color: #84929e;
}
  
.sideBarOpen {
    transform: translateX(0); 
}
  
.sideBarClosed {
    transform: translateX(-102%);
    pointer-events: none;
}

.content {
    flex: 1 1 auto;
    position: relative;
    overflow: auto;
    justify-content: center;
    align-items: center;
}